<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommendations</title>
    <link rel="icon" href="./img/heheBlockbuster.png"> 
    <link rel="stylesheet" type="text/css" href="css/style.css">


</head>

<body>
    <h1>Movie Recommendations</h1>
    <div class="mainDiv">
    <label for="movieInput">Enter a Movie Title:</label>
    <input type="text" id="movieInput">
    <button onclick="searchMovies()">Search</button>

    <h4>Results:</h2>
    <ul id="movieList"></ul>
</div>
    <script src="app.js"></script>
</body>
</html> -->